body {
	margin: 0;
}

* {
	box-sizing: border-box;
}

button {
	cursor: pointer;
}

.container {
	display: flex;
	height: 100vh;
	margin: 0 auto;;
	width: calc(85vh + 21.5px);
}

.game-area {
	border: 5px solid black;
	border-radius: 5px;
	overflow: hidden;
	position: relative;
	width: calc(50vh + 5px);
}

.grid-row {
	display: flex;
}

.grid-row > div {
	height: calc(5vh - 0.5px);
	width: calc(5vh - 0.5px);
}

.game-info {
	flex: 1 0 0px;
	margin-left: 10px;
}

.next-shape {
	border: 5px solid black;
	border-radius: 5px;
	height: calc(35vh + 6.5px);
	margin-bottom: 10px;
	position: relative;
}

.next-shape .shape-container {
	transition: none;
}

.next-shape .box {
	transition: none;
}

.game-scores {
	border: 5px solid black;
	border-radius: 5px;
	display: flex;
	flex-wrap: wrap;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	line-height: 19px;
	margin-bottom: 10px;
	padding: 10px;
}

.game-scores > div {
	width: 50%;
}

.game-button {
	background-color: white;
	border-color: black;
	border-style: solid;
	font-size: 16px;
	line-height: 30px;
	padding: 0;
}

.start-button, .pause-button {
	border-radius: 5px;
	border-width: 5px;
	width: 100%;
}

.continue-button {
	border-radius: 5px 0 0 5px;
	border-width: 5px 2.5px 5px 5px;
	width: 50%;
}

.stop-button {
	border-radius: 0 5px 5px 0;
	border-width: 5px 5px 5px 2.5px;
	width: 50%;
}